* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: linen;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/* index.html에만 적용할 스타일 */
.index-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('img/손수정.png');
  background-size: cover;
  background-position: center;
}

.content-wrapper {
  display: flex;
}

.content-wrapper h1 {
  color: rgb(255, 255, 255);
  font-size: 35px;
}

/* 동그라미 */
.circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: rgb(228, 143, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 70px;
  margin-top: 20px;
  overflow: hidden;
}

.circle video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.circle:hover video {
  display: block;
}

.main {
  color: rgba(88, 27, 19, 0.852);
  line-height: 2.5;
}

.navbar {
  background-color: rgb(245, 199, 186);
  color: #db7d7d;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #db8888;
}

button {
  padding: 10px 15px;
  margin: 10px 10px;
  font-size: large;
  font-weight: bold;
  color: rgb(65, 27, 8);
  background-color: rgb(244, 188, 164);
  border-radius: 10px;
  border-width: 0px;
}

button:hover {
  color: rgb(247, 173, 173);
  background-color: rgb(97, 48, 6);
}
